[user]
	email = danthom@microsoft.com
	name = Dan Thompson (SBS)
[diff]
	tool = bc3
[difftool "bc3"]
	trustExitCode = true
[cola]
	spellcheck = false
	boldheaders = true
	fontdiff = Monospace,12,-1,5,50,0,0,0,0,0
	tabwidth = 4
	expandtab = true
